<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.whitipet.test.likylist">

	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:name=".LikyListApplication"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@mipmap/ic_launcher"
		android:label="${appName}"
		android:roundIcon="@mipmap/ic_launcher"
		android:supportsRtl="true"
		android:theme="@style/Theme.LikyList">

		<activity-alias
			android:name=".Launcher"
			android:exported="true"
			android:targetActivity=".screen.list.ListActivity">

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

			<meta-data
				android:name="android.app.shortcuts"
				android:resource="@xml/app_shortcuts"/>
		</activity-alias>

		<activity android:name=".screen.list.ListActivity"/>

		<activity
			android:name=".screen.search.SearchActivity"
			android:exported="false"
			android:windowSoftInputMode="stateAlwaysVisible">

			<intent-filter>
				<action android:name="com.whitipet.test.likylist.intent.action.open.SEARCH"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<activity android:name=".screen.medicine.MedicineActivity"/>
	</application>
</manifest>