<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.whitipet.test.likylist">

	<application>
		<activity
			android:name=".screen.list.ListActivity"
			android:exported="true"
			tools:replace="android:exported"/>

		<activity
			android:name=".screen.medicine.MedicineActivity"
			android:exported="true"
			tools:replace="android:exported"/>
	</application>
</manifest>